@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

*,
*:link,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(57, 24, 85, 0.493),
      rgba(56, 23, 94, 0.589)
    ),
    url("images/bg5.jpg");
  background-size: cover;
  background-position: top;
  text-align: center;
  align-items: center;
}

.logo-img {
  width: 40rem;
  justify-content: center;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  animation-delay: 2s;
}

.heading-big {
  font-family: "Josefin Sans", sans-serif;
  vertical-align: middle;
  margin-top: 1rem;
  padding-left: 0;
  font-size: 4rem;
  letter-spacing: 2.2rem;
  color: #fff;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  animation-delay: 2s;
}

/* .navbar-custom {
  background-color: rgb(61, 3, 61);
}
.navbar-custom .navbar-text,
.navbar-custom .navbar-brand {
  color: #fff;
} */

.navbar-nav {
  margin-left: 75vw;
  font-size: 2rem;
}

.nav-item {
  padding-left: 2px;
}

.ytbtn {
  margin-top: 2rem;
}

.btn-visit {
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  border: solid 1px;
  padding: 1.5rem;
  border-radius: 10px;
}

.btn-visit:hover {
  background-color: #fff;
  color: #000;
}

/* .btn-visit:link,
.btn-visit:visited {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  padding: 1.5rem;
  transition: all 0.2s;
} */
